$color-primary: #910202;
$color-light: #ffffff;
$color-dark: #000000;
$text-shadow: 0 2px 2px rgba(0, 0, 0, .33);
$serif: 'libre baskerville',
serif;
$header-main-font: 'Scope One',
serif;

$color-twitter: #1DA1F2;
$color-facebook: #4267B2;
$color-pinterest: #E60023;
$color-linkedin: #2867B2;


body {
    background-color: $color-dark;
}


main {
    background-color: $color-dark;
    margin: 0 auto;
    padding: 5px;
    max-width: 910px;

}

.my_bar {
    background-color: darken($color-dark, 10);
    position: sticky;
}

:target::before {
    content: "";
    display: block;
    height: 350px;
    /* fixed header height*/
    margin: -350px 0 0;
    /* negative fixed header height */
}


.collapse-parent {
    margin-bottom: 2.5rem;
}

/* Titles (H2) as collapse buttons */
.collapsible {
    padding: 0 2px;
    cursor: pointer;

    &:hover {
        color: $color-dark;
    }

    &::after {
        font-family: Fontawesome;
        content: '»';
        margin: 0 10px;
        font-size: 1.5rem;
        float: right;
        font-weight: 300;
        transform-origin: center;
        transition: transform .2s ease-in .1s;
        transform: translateY(-.2rem) rotate(90deg);
    }

    &__content {
        transition: max-width .2s ease-in;
        transition: max-height .2s ease-in;
        overflow: hidden;
        transition: overflow 1s;
        overflow: visible;
    }

    &.active {
        &::after {
            transform: scaleX(-1) translateY(-.2rem) rotate(270deg);
        }
    }
}



h3 {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
}

.section {
    margin: 16px auto;
    padding: 0 .75rem;
    height: fit-content;

    &__title {
        margin: 0.5rem;
        margin-top: 1.5rem;
        color: white;
        text-align: center;
        width: 100%;
        font-family: $header-main-font;
        text-transform: uppercase;
        text-shadow: $text-shadow;
    }

    &__list {
        padding: 0;
        gap: 2rem;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        font-family: 'syne mono';

        &__item {
            margin-top: 1rem;
            height: 150px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            &__img {
                display: block;
                height: 100px;
                max-width: 150px;
                object-fit: contain;
            }
        }
    }
}

.content {
    background-color: $color-light;
    border-radius: 2px;
    padding: 1rem;
}

.timeline {
    &-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    &__date {
        &__yy {
            font-size: 1.1rem;
            opacity: 0.9;
            font-weight: 700;
        }
    }

    &__content {
        &__heading {
            font-weight: 700;

            &__summary {
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.contact__form {
    &__elem {
        text-transform: capitalize;
        max-width: 200px;
        margin: 2px auto;
        padding: 2px;
        padding-bottom: 12px;
    }

    &__btn {
        background-color: $color-primary;
        color: $color-light;
        border: 1px outset $color-primary;
        border-radius: 8px;
        padding: 8px 24px;
        margin: 12px auto;
        transition: filter .2s ease-in-out .1s;

        &:hover {
            background-color: lighten($color-primary, 5);
            filter: drop-shadow(0 .1rem .1rem $color-dark);
        }
    }
}



.map-responsive {
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    &iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1092px) {
    :target::before {
        content: "";
        display: block;
        height: 50px;
        /* fixed header height*/
        margin: -50px 0 0;
        /* negative fixed header height */
    }
}

@media screen and (min-width: 900px) {
    .section {
        width: 900px;
        margin: auto;
    }

    .contact__form {
        &__elem {
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            margin: 2px auto;
            padding: 2px;
        }
    }

    .collapse-parent {
        display: flex;
        width: 900px;
    }
    .collapsible {
        &::after {
            content: '»';
            margin: 0 10px;
            transform-origin: center;
            transition: transform .2s ease-in .1s;
            transform: translateY(-.2rem);
        }
    
        &__content {
            transition: max-width .2s ease-in;
            transition: max-height .2s ease-in;
            overflow: hidden;
            transition: overflow 1s;
            overflow: visible;
        }
        &.active {
            &::after {
                transform: scaleX(-1) translateY(-.2rem);
            }
        }
    }

    .timeline {
        &-list {
            & li:nth-child(even) {
                width: 350px;
                transform: translate(350px);
                padding-left: 32px;
            }

            & li:nth-child(odd) {
                width: 350px;
                right: 0;
                text-align: right;
                padding-right: 32px;
            }
        }
    }
    .map-responsive {
        display: block;
        margin: 2rem;
    }
}